@page
@model IndexModel
@{
    ViewData["Title"] = "Pokemondex";
}

<style>
    input {
        margin-top: 0.5em;
    }

    .inline {
        display: inline-block;
    }

    .next-page {
        background-color: black;
        margin-top: 0.5em
    }

    .previous-page {
        background-color: black;
        margin-top: 0.5em
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <form method="post", asp-page="Index">
        <p>
            Search for pokemon: <input type="text" asp-for="SearchValue" />
            <input type="submit" value="Search" asp-page-handler="Search"/>
        </p>
    </form>

    @if(@Model.PaginatedPokemon is not null)
    {
        @foreach(var pokemon in @Model.PaginatedPokemon.Pokemon)
        {
            <form method="post", asp-page="Index">
                <input type="submit" value="@pokemon.Name" asp-for="FilterValue" asp-page-handler="Filter"/>
            </form>
        }
        
        if(@Model.PaginatedPokemon.PreviousPaginationUrl is not null)
        {
            <div class="previous-page inline">
                <form method="post", asp-page="Index">
                    <input type="submit" value="Previous" asp-page-handler="PreviousPage"/>
                </form>
            </div>
            
        }

        if(@Model.PaginatedPokemon.NextPaginationUrl is not null)
        {
            <div class="next-page inline">
                <form method="post", asp-page="Index">
                    <input type="submit" value="Next" asp-page-handler="NextPage"/>
                </form>
            </div>
        }
    }

    @if(@Model.FilteredPokemon is not null)
    {
        <div>
            <p> @Model.FilteredPokemon.Name </p>
            <img src="@Model.FilteredPokemon.SpriteUrl" />
        </div>  
    }

</div>
