@page
@model IndexModel
@{
    ViewData["Title"] = "Pokemondex";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <form method="post", asp-page="Index">
        <p>
            Search for pokemon: <input type="text" asp-for="SearchValue" />
            <input type="submit" value="Search" asp-page-handler="Search"/>
        </p>
    </form>

    @if(@Model.PaginatedPokemon is not null)
    {
        @foreach(var pokemon in @Model.PaginatedPokemon.Pokemon)
        {
            <p> @pokemon.Name </p> <!-- make these clickable, once clicked they call off to the url provided for more info / filter -->
        }

        if(@Model.PaginatedPokemon.NextPaginationUrl is not null)
        {
            <form method="post", asp-page="Index">
                <input type="submit" value="Next" asp-page-handler="NextPage"/>
            </form>
        }
        
        if(@Model.PaginatedPokemon.PreviousPaginationUrl is not null)
        {
            <form method="post", asp-page="Index">
                <input type="submit" value="Previous" asp-page-handler="PreviousPage"/>
            </form>
        }
    }

    @if(@Model.FilteredPokemon is not null)
    {
        <div>
            <p> @Model.FilteredPokemon.Name </p>
            <img src="@Model.FilteredPokemon.SpriteUrl" />
        </div>  
    }

</div>
